    li {
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: #EEE;
    margin: .5em;
    padding: .3em 0;
    height: 1.6em;
    border-radius: 4px;
  }
  li.selected:hover {
    background-color: rgb(87, 18, 41) !important;
    color: white;
  }

  li:hover {
    color: #607D8B;
    background-color: #DDD;
    left: .1em;
  }
  .selected {
    background-color: #CFD8DC !important;
    color: white;
  }